.site-title {
    font-size: 1rem !important; /* Adjust size */
    font-weight: bold !important; /* Make the text bold */
    text-transform: uppercase !important; /* Make all letters uppercase */
}
